{{#
    @name Logo
    @desc The logo component with a `width` attribute.
#}}

<!-- /components/_logo.antlers.html -->
<a
    aria-label="{{ trans:strings.home }}"
    href="{{ site:url }}"
>
    {{ if company_information:logo }}
        {{ company_information:logo }}
            <img 
                width="200" 
                src="{{ url }}" 
                loading="lazy" 
                alt="{{ alt ?? company_information:name }}" 
            />
        {{ /company_information:logo }}
    {{ else }}
        <span>{{ company_information:name }}</span>
    {{ /if }}
</a>
<!-- End: /components/_logo.antlers.html -->
